@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

html,body{
    margin: 0;
    padding:0;
    *{
        box-sizing: border-box;
    }
}
header{
    background-image: url(../img/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 633px;
    max-width: 100%;
    background-blend-mode: color-dodge;
    background-color: rgba(9, 9, 34, 0.76);
    font-family: 'Roboto', sans-serif;
        .row{
        padding: 25px 15px;
        .col-xl-3,.logocol{
            .logo{
                text-align: left;
            }
        }
        .col-xl-6{
            ul{
                list-style: none;
                justify-content: flex-end;
                li{
                    margin-left: 35px;
                    a{
                        text-decoration: none;
                        color: #ffffff;
                    }
                }
            }
        }
        .col-xl-3{
            margin-top: -3px;
            ul{
                list-style: none;
                justify-content: flex-end;
                li{
                    margin-left: 20px;
                    a{
                        display: inline-block;
                        color: #fff;
                        font-size: 14px;
                        padding: 4px 3px;
                        border: 2px solid transparent;
                        width: 32px;
                        height: 32px;
                        border-radius: 50%;
                        text-align: center;
                        transition: .3s;
                        &:hover{
                            border: 2px solid #fff;
                        }
                    }
                }
            }
        }
        .hiddenbar{
            a{
                text-decoration: none;
                color: #ffffff;
                background-color: #259b2b;
                padding: 5px 10px;
                border-radius: 3px;
            }
        }
    }
    .yourtext{
        text-align: center;
        color: #ffffff;
        margin-top: 100px;
        h2{
            font-size: 48px;
            font-weight: 300;
        }
        h1{
            font-size: 72px;
            font-weight: 300;
        }
    }
}


section.search{
    .container{
        .row{
            .col-xl-2{
                padding: 20px 27px 29px;
                p{
                    font-size: 14px;
                    color: #8f8fa8;
                    font-weight: 300;
                    margin-bottom: 20px;
                }
                span{
                    color: #3f3f4b;
                    font-size: 16px;
                    font-weight: 500;
                }
                .city-select,.property{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-bottom: 1px solid #3434344d;
                    padding-bottom: 5px;
                }
                .bedrooms-select,.bathrooms-select{
                    ul{
                        list-style: none;
                        margin:0;
                        padding:0;
                        display: flex;
                        li{
                            margin: 0px 2px;
                            &:nth-child(1){
                                margin-left: 0px;
                            }
                            a{
                                display: inline-block;
                                background-color: #8f8fa8;
                                height: 30px;
                                width: 30px;
                                border-radius: 20%;
                                display: flex;
                                justify-content: center;
                                align-items: center; 
                                color: #ffffff;                               
                                &:hover{
                                    text-decoration: none;

                                }
                            }
                        }
                    }
                }
            }
            .search-button{
                padding: 0 27px;
                button{
                    height: 100%;
                    width: 100%;
                    background-color: #8ad144;
                    padding: 20px 27px 29px;
                    color: #ffffff;
                    i{
                        color: #ffffff;
                        margin-right: 10px;  
                    }
                }
            }
        }
    }
}











/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
   
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
   
  
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    header{
        nav{
            .logocol{
                .logo{
                    text-align: center !important;
                }
                margin-bottom: 15px;
            }
            .navicol{
                justify-content: center;
            }
            .socialcol{
                justify-content: center;
            }
        }
    }
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {

  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    header{
        nav{
            .logocol{
                .logo{
                    text-align: left !important;
                }
                margin-bottom: 15px;
            }
            .navicol{
                justify-content: center;
            }
            .socialcol{
                justify-content: center;
            }
        }
    }

    section.search{
        .container{
            .search-button{
                padding: 0px !important;
            }
        }
    }


  } 
  